@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    background-color: hsl(0, 0%, 100%);
  }

  html.dark, html.dark body {
    background-color: hsl(200, 9%, 9%);
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 204 23% 9%;
    --card: 0 0% 100%;
    --card-foreground: 204 23% 9%;
    --popover: 0 0% 100%;
    --popover-foreground: 204 23% 9%;
    --primary: 29 89% 55%;
    --primary-foreground: 0 0% 100%;
    --primary-surface: 29 89% 90%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 204 23% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 200 5% 43%;
    --accent: 196 87% 34%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 89.8%;
    --input: 29 89% 55%;
    --ring: 29 89% 55%;
    --radius: 0;
  }

  .dark:root {
    --background: 200 9% 9%;
    --foreground: 200 4% 93%;
    --card: 200 9% 9%;
    --card-foreground: 200 4% 93%;
    --popover: 200 9% 9%;
    --popover-foreground: 200 4% 93%;
    --primary: 29 89% 55%;
    --primary-foreground: 0 0% 0%;
    --primary-surface: 29 30% 15%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 200 4% 93%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 207 4% 63%;
    --accent: 0 0% 100%;
    --accent-foreground: 200 9% 9%;
    --destructive: 0 70.9% 59.4%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 14.9%;
    --input: 29 89% 55%;
    --ring: 29 89% 55%;
  }
}
